/* ABOUT SECTION */
.about {
    padding: 40px;
    text-align: center;
    max-width: 800px;
    margin: auto;
}

/* FEATURES */
.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
}

.feature-box {
    background: #f4f4f4;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

.feature-box:hover {
    background: #e0f7ff;
    transform: translateY(-5px);
}
